.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.texteditor{
  width: 30vw;
  padding: 20px;
  text-align: left;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.CodeMirror{
  height: 400px !important;
  color: white;
}
.CodeMirror-gutters{
  background: #1d1e22 !important;
}
.CodeMirror-scroll{
  background: #1d1e22 !important;
}
.Read{
  text-decoration: line-through;
}